
D2：機器學習概論/.ipynb_checkpoints/Day_002_HW-checkpoint.ipynb
D1：資料介紹與評估資料/.ipynb_checkpoints/Day_001_example_of_metrics-checkpoint.ipynb
D1：資料介紹與評估資料/.ipynb_checkpoints/Day_001_HW-checkpoint.ipynb
D3：機器學習 - 流程與步驟/.ipynb_checkpoints/Day_003_HW-checkpoint.ipynb
D4：EDA讀取資料與分析流程/.ipynb_checkpoints/Day_004_first_EDA-checkpoint.ipynb
D4：EDA讀取資料與分析流程/.ipynb_checkpoints/Day_004_HW-checkpoint.ipynb
D4：EDA讀取資料與分析流程/Data/application_test.csv
D4：EDA讀取資料與分析流程/Data/application_train.csv
D4：EDA讀取資料與分析流程/Data/bureau.csv
D4：EDA讀取資料與分析流程/Data/bureau_balance.csv
D4：EDA讀取資料與分析流程/Data/credit_card_balance.csv
D4：EDA讀取資料與分析流程/Data/example.jpg
D4：EDA讀取資料與分析流程/Data/example.mat
D4：EDA讀取資料與分析流程/Data/example.npy
D4：EDA讀取資料與分析流程/Data/example.pkl
D4：EDA讀取資料與分析流程/Data/example.txt
D4：EDA讀取資料與分析流程/Data/example01.json
D4：EDA讀取資料與分析流程/Data/example02.json
D4：EDA讀取資料與分析流程/Data/HomeCredit_columns_description.csv
D4：EDA讀取資料與分析流程/Data/installments_payments.csv
D4：EDA讀取資料與分析流程/Data/POS_CASH_balance.csv
D4：EDA讀取資料與分析流程/Data/previous_application.csv
D4：EDA讀取資料與分析流程/Data/sample_submission.csv
