
D2：機器學習概論/.ipynb_checkpoints/Day_002_HW-checkpoint.ipynb
D1：資料介紹與評估資料/.ipynb_checkpoints/Day_001_example_of_metrics-checkpoint.ipynb
D1：資料介紹與評估資料/.ipynb_checkpoints/Day_001_HW-checkpoint.ipynb
D3：機器學習 - 流程與步驟/.ipynb_checkpoints/Day_003_HW-checkpoint.ipynb
D4：EDA讀取資料與分析流程/.ipynb_checkpoints/Day_004_first_EDA-checkpoint.ipynb
D4：EDA讀取資料與分析流程/.ipynb_checkpoints/Day_004_HW-checkpoint.ipynb
D4：EDA讀取資料與分析流程/Data/application_test.csv
D4：EDA讀取資料與分析流程/Data/application_train.csv
D4：EDA讀取資料與分析流程/Data/bureau.csv
D4：EDA讀取資料與分析流程/Data/bureau_balance.csv
D4：EDA讀取資料與分析流程/Data/credit_card_balance.csv
D4：EDA讀取資料與分析流程/Data/example.jpg
D4：EDA讀取資料與分析流程/Data/example.mat
D4：EDA讀取資料與分析流程/Data/example.npy
D4：EDA讀取資料與分析流程/Data/example.pkl
D4：EDA讀取資料與分析流程/Data/example.txt
D4：EDA讀取資料與分析流程/Data/example01.json
D4：EDA讀取資料與分析流程/Data/example02.json
D4：EDA讀取資料與分析流程/Data/HomeCredit_columns_description.csv
D4：EDA讀取資料與分析流程/Data/installments_payments.csv
D4：EDA讀取資料與分析流程/Data/POS_CASH_balance.csv
D4：EDA讀取資料與分析流程/Data/previous_application.csv
D4：EDA讀取資料與分析流程/Data/sample_submission.csv
Data/application_test.csv
Data/application_train.csv
Data/bureau.csv
Data/bureau_balance.csv
Data/credit_card_balance.csv
Data/example.jpg
Data/example.mat
Data/example.npy
Data/example.pkl
Data/example.txt
Data/example01.json
Data/example02.json
Data/HomeCredit_columns_description.csv
Data/installments_payments.csv
Data/POS_CASH_balance.csv
Data/previous_application.csv
Data/sample_submission.csv
D5：如何新建一個 dataframe 如何讀取其他資料 (非 csv 的資料)/.ipynb_checkpoints/Day_005-1_build_dataframe_from_scratch-checkpoint.ipynb
D5：如何新建一個 dataframe 如何讀取其他資料 (非 csv 的資料)/.ipynb_checkpoints/Day_005-1_HW-checkpoint.ipynb
D5：如何新建一個 dataframe 如何讀取其他資料 (非 csv 的資料)/.ipynb_checkpoints/Day_005-2_HW-checkpoint.ipynb
D5：如何新建一個 dataframe 如何讀取其他資料 (非 csv 的資料)/.ipynb_checkpoints/Day_005-2_read_and_write_files-checkpoint.ipynb
D5：如何新建一個 dataframe 如何讀取其他資料 (非 csv 的資料)/.ipynb_checkpoints/Day_005-3_read_and_write_files-checkpoint.ipynb
D6：EDA：欄位的資料類型介紹及處理/.ipynb_checkpoints/Day_006_column_data_type-checkpoint.ipynb
D6：EDA：欄位的資料類型介紹及處理/.ipynb_checkpoints/Day_006_HW-checkpoint.ipynb
D7：特徵類型/.ipynb_checkpoints/Day_007_Feature_Types-checkpoint.ipynb
D7：特徵類型/.ipynb_checkpoints/Day_007_HW-checkpoint.ipynb
Data/house_test.csv.gz
Data/house_train.csv.gz
Data/taxi_data1.csv
Data/taxi_data2.csv
Data/titanic_test.csv
Data/titanic_train.csv
D8：EDA資料分佈/.ipynb_checkpoints/Day_008_HW-checkpoint.ipynb
D9：EDA Outlier 及處理/.ipynb_checkpoints/Day_009_outliers_detection-checkpoint.ipynb
D9：EDA Outlier 及處理/.ipynb_checkpoints/Day_009_HW-checkpoint.ipynb
D10：數值型特徵 - 去除離群值/.ipynb_checkpoints/Day_010_HW-checkpoint.ipynb
D10：數值型特徵 - 去除離群值/.ipynb_checkpoints/Day_010_Outliers-checkpoint.ipynb
D11：常用的數值取代：中位數與分位數連續數值標準化/.ipynb_checkpoints/Day_011_HW-checkpoint.ipynb
D11：常用的數值取代：中位數與分位數連續數值標準化/.ipynb_checkpoints/Day_011_handle_outliers-checkpoint.ipynb
D12：數值型特徵-補缺失值與標準化/.ipynb_checkpoints/Day_012_Fill_NaN_and_Scalers-checkpoint.ipynb
D12：數值型特徵-補缺失值與標準化/.ipynb_checkpoints/Day_012_HW-checkpoint.ipynb
D13：DataFrame operationData frame merge常用的 DataFrame 操作/.ipynb_checkpoints/Day_013_dataFrame_operation-checkpoint.ipynb
D13：DataFrame operationData frame merge常用的 DataFrame 操作/.ipynb_checkpoints/Day_013_HW-checkpoint.ipynb
D14：程式實作 EDA correlation相關係數簡介/.ipynb_checkpoints/Day_014_HW-checkpoint.ipynb
D15：EDA from Correlation/.ipynb_checkpoints/Day_015-supplementary_correlation_and_plot_with_different_range-checkpoint.ipynb
D15：EDA from Correlation/.ipynb_checkpoints/Day_015_HW-checkpoint.ipynb
D16：EDA 不同數值範圍間的特徵如何檢視繪圖與樣式Kernel Density Estimation (KDE)/.ipynb_checkpoints/Day_016_EDA_KDEplots-checkpoint.ipynb
D16：EDA 不同數值範圍間的特徵如何檢視繪圖與樣式Kernel Density Estimation (KDE)/.ipynb_checkpoints/Day_016_HW-checkpoint.ipynb
D17：EDA 把連續型變數離散化/.ipynb_checkpoints/Day_017_discretizing-checkpoint.ipynb
D17：EDA 把連續型變數離散化/.ipynb_checkpoints/Day_017_HW-checkpoint.ipynb
D18：程式實作 把連續型變數離散化/.ipynb_checkpoints/Day_018_HW-checkpoint.ipynb
D19：Subplots/.ipynb_checkpoints/Day_019_EDA_subplots-checkpoint.ipynb
D19：Subplots/.ipynb_checkpoints/Day_019_HW-checkpoint.ipynb
D20：Heatmap & Grid-plot/.ipynb_checkpoints/Day_020_EDA_heatmap-checkpoint.ipynb
D20：Heatmap & Grid-plot/.ipynb_checkpoints/Day_020_HW-checkpoint.ipynb
D21：模型初體驗 Logistic Regression/.ipynb_checkpoints/Day_021_HW-checkpoint.ipynb
D21：模型初體驗 Logistic Regression/.ipynb_checkpoints/Day_021_first_model-checkpoint.ipynb
D22：特徵工程簡介/.ipynb_checkpoints/Day_022_HW-checkpoint.ipynb
D22：特徵工程簡介/.ipynb_checkpoints/Day_022_Introduction_of_Feature Engineering-checkpoint.ipynb
D23：數值型特徵 - 去除偏態/.ipynb_checkpoints/Day_023_HW-checkpoint.ipynb
D23：數值型特徵 - 去除偏態/.ipynb_checkpoints/Day_023_Reduce_Skewness-checkpoint.ipynb
D24：類別型特徵 - 基礎處理/.ipynb_checkpoints/Day_024_HW-checkpoint.ipynb
D24：類別型特徵 - 基礎處理/.ipynb_checkpoints/Day_024_LabelEncoder_and_OneHotEncoder-checkpoint.ipynb
D25：類別型特徵 - 均值編碼/.ipynb_checkpoints/Day_025_HW-checkpoint.ipynb
D25：類別型特徵 - 均值編碼/.ipynb_checkpoints/Day_025_Mean_Encoder-checkpoint.ipynb
D26：類別型特徵 - 其他進階處理/.ipynb_checkpoints/Day_026_CountEncoder_and_FeatureHash-checkpoint.ipynb
D26：類別型特徵 - 其他進階處理/.ipynb_checkpoints/Day_026_HW-checkpoint.ipynb
D27：時間型特徵/.ipynb_checkpoints/Day_027_DayTime_Features-checkpoint.ipynb
D27：時間型特徵/.ipynb_checkpoints/Day_027_HW-checkpoint.ipynb
D28：特徵組合 - 數值與數值組合/.ipynb_checkpoints/Day_028_Feature_Combination-checkpoint.ipynb
D28：特徵組合 - 數值與數值組合/.ipynb_checkpoints/Day_028_HW-checkpoint.ipynb
D29：特徵組合 - 類別與數值組合/.ipynb_checkpoints/Day_029_GroupBy_Encoder-checkpoint.ipynb
D29：特徵組合 - 類別與數值組合/.ipynb_checkpoints/Day_029_HW-checkpoint.ipynb
D30：特徵選擇/.ipynb_checkpoints/Day_030_Feature_Selection-checkpoint.ipynb
D30：特徵選擇/.ipynb_checkpoints/Day_030_HW-checkpoint.ipynb
D31：特徵評估/.ipynb_checkpoints/Day_031_Feature_Importance-checkpoint.ipynb
D31：特徵評估/.ipynb_checkpoints/Day_031_HW-checkpoint.ipynb
D32：分類型特徵優化 - 葉編碼/.ipynb_checkpoints/Day_032_HW-checkpoint.ipynb
D32：分類型特徵優化 - 葉編碼/.ipynb_checkpoints/Day_032_Leaf_Encoding-checkpoint.ipynb
D33：機器如何學習/.ipynb_checkpoints/Day_033_HW-checkpoint.ipynb
D34：訓練測試集切分的概念/.ipynb_checkpoints/Day_034_train_test_split-checkpoint.ipynb
D35：regression vs. classification/.ipynb_checkpoints/Day_035_HW-checkpoint.ipynb
D36：評估指標選定evaluation metrics/.ipynb_checkpoints/Day_036_evaluation_metrics-checkpoint.ipynb
D36：評估指標選定evaluation metrics/.ipynb_checkpoints/Day_036_HW-checkpoint.ipynb
D37：regression model 介紹 - 線性迴歸羅吉斯回歸/.ipynb_checkpoints/Day_037_HW-checkpoint.ipynb
Data/.ipynb_checkpoints/application_test-checkpoint.csv
Data/.ipynb_checkpoints/bureau-checkpoint.csv
Data/.ipynb_checkpoints/credit_card_balance-checkpoint.csv
Data/.ipynb_checkpoints/example-checkpoint.jpg
D38：regression model 程式碼撰寫/.ipynb_checkpoints/Day_038_HW-checkpoint.ipynb
D38：regression model 程式碼撰寫/.ipynb_checkpoints/Day_038_regression_model-checkpoint.ipynb
D39：regression model 介紹 - LASSO 回歸 Ridge 回歸/.ipynb_checkpoints/Day_039_HW-checkpoint.ipynb
D40：regression model 程式碼撰寫/.ipynb_checkpoints/Day_040_lasso_ridge_regression-checkpoint.ipynb
D40：regression model 程式碼撰寫/.ipynb_checkpoints/Day_040_HW-checkpoint.ipynb
D41：tree based model - 決策樹 (Decision Tree) 模型介紹/.ipynb_checkpoints/Day_041_HW-checkpoint.ipynb
D42：tree based model - 決策樹程式碼撰寫/.ipynb_checkpoints/Day_042_HW-checkpoint.ipynb
D43：tree based model - 隨機森林 (Random Forest) 介紹/.ipynb_checkpoints/Day_043_HW-checkpoint.ipynb
D44：tree based model - 隨機森林程式碼撰寫/.ipynb_checkpoints/Day_044_HW-checkpoint.ipynb
D44：tree based model - 隨機森林程式碼撰寫/.ipynb_checkpoints/Day_044_random_forest-checkpoint.ipynb
D46：tree based model - 梯度提升機程式碼撰寫/.ipynb_checkpoints/Day_046_HW-checkpoint.ipynb
D47：超參數調整與優化/.ipynb_checkpoints/Day_047_HW-checkpoint.ipynb
D47：超參數調整與優化/.ipynb_checkpoints/Day_047_hyper_parameter_tunning-checkpoint.ipynb
D48：Kaggle 競賽平台介紹/.ipynb_checkpoints/Day_048_HW-checkpoint.ipynb
D48：Kaggle 競賽平台介紹/.ipynb_checkpoints/train-checkpoint.csv
D48：Kaggle 競賽平台介紹/.ipynb_checkpoints/Untitled-checkpoint.ipynb
D49：集成方法  混合泛化(Blending)/.ipynb_checkpoints/Day_049_Blending-checkpoint.ipynb
D49：集成方法  混合泛化(Blending)/.ipynb_checkpoints/Day_049_Blending_HW-checkpoint.ipynb
D50：集成方法  堆疊泛化(Stacking)/.ipynb_checkpoints/Day_050_Stacking-checkpoint.ipynb
D50：集成方法  堆疊泛化(Stacking)/.ipynb_checkpoints/Day_050_Stacking_HW-checkpoint.ipynb
D51 - D53：Kaggle期中考 考ML與調參相關/.ipynb_checkpoints/Day_051-053_Midterm_Exam-checkpoint.ipynb
D51 - D53：Kaggle期中考 考ML與調參相關/midterm_data/test_features.csv
D51 - D53：Kaggle期中考 考ML與調參相關/midterm_data/train_data.csv
D54：clustering 1 非監督式機器學習簡介/.ipynb_checkpoints/Day_054_HW-checkpoint.ipynb
D55：clustering 2 聚類算法/.ipynb_checkpoints/Day_055_HW-checkpoint.ipynb
D55：clustering 2 聚類算法/.ipynb_checkpoints/Day_055_kmean_sample-checkpoint.ipynb
D56：K-mean 觀察  使用輪廓分析/.ipynb_checkpoints/Day_056_kmean_HW-checkpoint.ipynb
D56：K-mean 觀察  使用輪廓分析/.ipynb_checkpoints/Day_056_kmean-checkpoint.ipynb
D57：clustering 3 階層分群算法/.ipynb_checkpoints/Day_057_hierarchical_clustering_sample-checkpoint.ipynb
D57：clustering 3 階層分群算法/.ipynb_checkpoints/Day_057_HW-checkpoint.ipynb
D58：階層分群法 觀察  使用 2D 樣版資料集/.ipynb_checkpoints/Day_058_hierarchical_clustering-checkpoint.ipynb
D58：階層分群法 觀察  使用 2D 樣版資料集/.ipynb_checkpoints/Day_058_hierarchical_clustering_HW-checkpoint.ipynb
D59：dimension reduction 1 降維方法-主成份分析/.ipynb_checkpoints/Day_059_HW-checkpoint.ipynb
D59：dimension reduction 1 降維方法-主成份分析/.ipynb_checkpoints/Day_059_PCA_sample-checkpoint.ipynb
D60：PCA 觀察  使用手寫辨識資料集/.ipynb_checkpoints/Day_060_PCA-checkpoint.ipynb
D60：PCA 觀察  使用手寫辨識資料集/.ipynb_checkpoints/Day_060_PCA_HW-checkpoint.ipynb
D61：dimension reduction 2 降維方法-T-SNE/.ipynb_checkpoints/Day_061_HW-checkpoint.ipynb
D61：dimension reduction 2 降維方法-T-SNE/.ipynb_checkpoints/Day_061_tsne_sample-checkpoint.ipynb
D62：t-sne 觀察  分群與流形還原/.ipynb_checkpoints/Day_062_tsne-checkpoint.ipynb
D62：t-sne 觀察  分群與流形還原/.ipynb_checkpoints/Day_062_tsne_HW-checkpoint.ipynb
D63：深度學習簡介/.ipynb_checkpoints/Day_063_HW-checkpoint.ipynb
D64：深度學習體驗  模型調整與學習曲線/.ipynb_checkpoints/Day_064_HW-checkpoint.ipynb
D65 深度學習體驗  啟動函數與正規化/.ipynb_checkpoints/Day_065_HW-checkpoint.ipynb
D66 Keras 安裝與介紹/.ipynb_checkpoints/Day_066_HW-checkpoint.ipynb
D66 Keras 安裝與介紹/.ipynb_checkpoints/Day_066_Introduction_of_Keras-checkpoint.ipynb
D65：深度學習體驗  啟動函數與正規化/.ipynb_checkpoints/Day_065_HW-checkpoint.ipynb
D66：Keras 安裝與介紹/.ipynb_checkpoints/Day_066_HW-checkpoint.ipynb
D66：Keras 安裝與介紹/.ipynb_checkpoints/Day_066_Introduction_of_Keras-checkpoint.ipynb
D67：Sample Code & 作業內容/.ipynb_checkpoints/Day67-Keras_Dataset_HW-checkpoint.ipynb
D67：Sample Code & 作業內容/.ipynb_checkpoints/Day67-Keras_Dataset_Introduce-checkpoint.ipynb
D68：Keras Sequential API/.ipynb_checkpoints/Day68-Keras_Sequential_Model-checkpoint.ipynb
D68：Keras Sequential API/.ipynb_checkpoints/Day68-Keras_Sequential_Model_HW-checkpoint.ipynb
D69：Keras Module API/.ipynb_checkpoints/Day69-keras_Module_API-checkpoint.ipynb
D69：Keras Module API/.ipynb_checkpoints/Day69-keras_Module_API_HW-checkpoint.ipynb
D70：深度神經網路的基礎知識/.ipynb_checkpoints/Day70-Keras_Mnist_MLP_HW-checkpoint.ipynb
D70：深度神經網路的基礎知識/.ipynb_checkpoints/Day70-Keras_Mnist_MLP_Sample-checkpoint.ipynb
D71：損失函數/.ipynb_checkpoints/Day71-使用損失函數_HW-checkpoint.ipynb
D71：損失函數/.ipynb_checkpoints/Day71-使用損失函數-checkpoint.ipynb
D72：啟動函數/.ipynb_checkpoints/Day72-Activation_function-checkpoint.ipynb
D72：啟動函數/.ipynb_checkpoints/Day72-Activation_function_HW-checkpoint.ipynb
D73：梯度下降Gradient Descent/.ipynb_checkpoints/Day73_Gradient Descent-checkpoint.ipynb
D73：梯度下降Gradient Descent/.ipynb_checkpoints/Day73_Gradient_Descent_HW-checkpoint.ipynb
D74：Gradient Descent 數學原理/.ipynb_checkpoints/Day74-Gradient Descent_數學式說明-checkpoint.ipynb
D74：Gradient Descent 數學原理/.ipynb_checkpoints/Day74-Gradient_Descent_HW-checkpoint.ipynb
D75：BackPropagation/.ipynb_checkpoints/Day75-反向式傳播進階說明-checkpoint.ipynb
D75：BackPropagation/.ipynb_checkpoints/Day75-反向式傳播進階說明作業-checkpoint.ipynb
D76：優化器optimizers/.ipynb_checkpoints/D76-optimizer_example-checkpoint.ipynb
D76：優化器optimizers/.ipynb_checkpoints/D76-optimizer_HW-checkpoint.ipynb
D76：優化器optimizers/.ipynb_checkpoints/D76-Optimizers_進階-checkpoint.ipynb
D77：訓練神經網路的細節與技巧 - Validation and overfit/.ipynb_checkpoints/Day077_HW-checkpoint.ipynb
D77：訓練神經網路的細節與技巧 - Validation and overfit/.ipynb_checkpoints/Day077_overfitting-checkpoint.ipynb
D78：訓練神經網路前的注意事項/.ipynb_checkpoints/Day078_CheckBeforeTrain-checkpoint.ipynb
D78：訓練神經網路前的注意事項/.ipynb_checkpoints/Day078_HW-checkpoint.ipynb
D79 訓練神經網路的細節與技巧 - Learning rate effect/.ipynb_checkpoints/Day079_HW-checkpoint.ipynb
D79 訓練神經網路的細節與技巧 - Learning rate effect/.ipynb_checkpoints/Day079_LearningRateEffect-checkpoint.ipynb
D80：[練習 Day] 優化器與學習率的組合與比較/.ipynb_checkpoints/Day080_HW-checkpoint.ipynb
D79：訓練神經網路的細節與技巧 - Learning rate effect/.ipynb_checkpoints/Day079_HW-checkpoint.ipynb
D79：訓練神經網路的細節與技巧 - Learning rate effect/.ipynb_checkpoints/Day079_LearningRateEffect-checkpoint.ipynb
D80：[練習 Day] 優化器與學習率的組合與比較/.ipynb_checkpoints/Day080_HW-checkpoint.ipynb
D80：[練習 Day] 優化器與學習率的組合與比較/.ipynb_checkpoints/Day080_HW-checkpoint.ipynb
D81：訓練神經網路的細節與技巧 - Regularization/.ipynb_checkpoints/Day081_Regulization-checkpoint.ipynb
D81：訓練神經網路的細節與技巧 - Regularization/.ipynb_checkpoints/Day081_HW-checkpoint.ipynb
D82 訓練神經網路的細節與技巧 - Dropout/.ipynb_checkpoints/Day082_Dropout-checkpoint.ipynb
D82 訓練神經網路的細節與技巧 - Dropout/.ipynb_checkpoints/Day082_HW-checkpoint.ipynb
D83 訓練神經網路的細節與技巧 - Batch normalization/.ipynb_checkpoints/Day083_BatchNorm-checkpoint.ipynb
D83 訓練神經網路的細節與技巧 - Batch normalization/.ipynb_checkpoints/Day083_HW-checkpoint.ipynb
D84 正規化機移除批次標準化的 組合與比較/.ipynb_checkpoints/Day084_HW-checkpoint.ipynb
D85 訓練神經網路的細節與技巧 - 使用 callbacks 函數做 earlystop/.ipynb_checkpoints/Day085_CB_EarlyStop-checkpoint.ipynb
D85 訓練神經網路的細節與技巧 - 使用 callbacks 函數做 earlystop/.ipynb_checkpoints/Day085_HW-checkpoint.ipynb
D86 訓練神經網路的細節與技巧 - 使用 callbacks 函數儲存 model/.ipynb_checkpoints/Day086_CB_ModelCheckPoint-checkpoint.ipynb
D86 訓練神經網路的細節與技巧 - 使用 callbacks 函數儲存 model/.ipynb_checkpoints/Day086_HW-checkpoint.ipynb
D86 訓練神經網路的細節與技巧 - 使用 callbacks 函數儲存 model/tmp.h5
D87 訓練神經網路的細節與技巧 - 使用 callbacks 函數做 reduce learning rate/.ipynb_checkpoints/Day087_CB_ReduceLR-checkpoint.ipynb
D87 訓練神經網路的細節與技巧 - 使用 callbacks 函數做 reduce learning rate/.ipynb_checkpoints/Day087HW-checkpoint.ipynb
D88 訓練神經網路的細節與技巧 - 撰寫自己的 callbacks 函數/.ipynb_checkpoints/Day088_CB_CustomizedCallbacks-checkpoint.ipynb
D88 訓練神經網路的細節與技巧 - 撰寫自己的 callbacks 函數/.ipynb_checkpoints/Day088_HW-checkpoint.ipynb
D89 訓練神經網路的細節與技巧 - 撰寫自己的 Loss function/.ipynb_checkpoints/Day089_CustomizedLoss-checkpoint.ipynb
D89 訓練神經網路的細節與技巧 - 撰寫自己的 Loss function/.ipynb_checkpoints/Day089_HW-checkpoint.ipynb
D90 使用傳統電腦視覺與機器學習進行影像辨識/.ipynb_checkpoints/Day090_color_histogram-checkpoint.ipynb
D90 使用傳統電腦視覺與機器學習進行影像辨識/.ipynb_checkpoints/Day090_color_histogram_HW-checkpoint.ipynb
D91 [練習 Day] 使用傳統電腦視覺與機器學習進行影像辨識/.ipynb_checkpoints/Day091_classification_with_cv-checkpoint.ipynb
D91 [練習 Day] 使用傳統電腦視覺與機器學習進行影像辨識/.ipynb_checkpoints/Day091_classification_with_cv_HW-checkpoint.ipynb
